body {
  background-color: #F4F4F4;
  color: #373737;
  font-family: "Raleway";
  padding-top: 30px;
}
h1,h2,h3 {
  color: #C0B283;
}

strong {
  font-weight: bold;
}

.footer i, .up-arrow {
  color: #FFF;
}

i:hover , .up-arrow:hover{
  color: #C0B283;
}

.help-block {
  color: #a94442;
  margin-right: 27px;
}

.glyphicon-ok {
  color: #3c763d;
  margin-right: 27px;
}

.glyphicon-remove {
  color: #a94442;
  margin-right: 27px;
  top: 0px;
}
.has-feedback .form-control-feedback {
  top: 0px;
}

.nav, .navbar-header, .navbar {
  background-color: #373737;
}
.navbar li a {
  color: #C0B283;
}

.navbar li a:hover {
    color: #FFF !important;
    background-color: #DCD0C0;
}

.navbar li.active a {
    color: #fff !important;
    background-color:#DCD0C0 !important;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0;
}

.footer {
  background-color: #373737;
  color: #F4F4F4;
  height: fit-content;
}

textarea {
  resize: none;
}

button, .btn:focus {
  color: #fff;
  background-color: #373737;
  opacity: 0.8;
  box-shadow: 0 5px #999;
}

.btn:hover {
  color: #fff;
  background-color: #373737;
  opacity: 1;
}

button:active {
  background-color: #373737;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a:focus, a:hover {
  text-decoration: none;
}

.silver {
  color: #737776;
}

.bronze {
  color: #cd7f32;
}

.cost {
  background-color: #373737;
}

.img-circle {
  padding-top: 2%;
}

.polaroid {
  border: 15px solid white;
  border-bottom: 0;
}

.polo {
  background-color: white;
}

.carousel-caption {
  position: initial;
  padding-bottom: 5px;
}

.carousel-caption p {
  font-family: 'Permanent Marker', cursive;
  font-size: 32px;
  color: black;
}

.logo {
  font-family: "Diplomata SC";
  background: -webkit-linear-gradient(top,#867c5b,#c0b283,#f4f4f4); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,#867c5b,#c0b283,#f4f4f4); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,#867c5b,#c0b283,#f4f4f4); /*Fx 3.6-15*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.jumbotron {
  background: #252930 url("../images/pexels-photo-134469-jmbtn.jpeg") no-repeat;
  background-size: 100% 100%;
  height: 510px;

/*Team member photo's*/
.tan {
  background-color: #e5c2a4;
}

.dark {
  background-color: #0f0808;
}

.gray {
  border-color: #737776;
}

.bronze {
  color: #cd7f32;
}
